.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

.tooltipOverlay {
  height: 100%;
  width: 100%;
  position: fixed;
}

.tooltip {
  background-color: rgba(250, 250, 250, 0.9);
  border-style: solid;
  border-color: rgb(200, 200, 200);
  padding: 4px 8px 3px;
  width: fit-content;
  position: absolute;
}

.tooltipLeft {
  border-radius: 4px 0px 0px 4px;
  border-width: 1px 0px 1px 1px;

  right: 0px;
}

.tooltipRight {
  border-width: 1px 1px 1px 0px;
  border-radius: 0px 4px 4px 0px;

  left: 0px;
}

.tooltipLabel {
  font-weight: bold;
}
